# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.zip
*.tar.gz

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ Idea & Java
.idea/
target/
*.iml
/test.1.log.gz
/test.2.log.gz
/test.3.log.gz
